.App {
  text-align: center;
  width: 100vw;
  font-family: 'MuseoModerno', cursive;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.title {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vmin);
  color: white;
  background-color: black;
  display: sticky;
  position: sticky;
  top: -2px;
}

.searchBar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #ffffff;
  padding: 3rem 3rem 4rem 3rem;
}

.searchBar__ligh-faucet {
  margin-right: 2rem;
  height: 7rem;
}

.searchBar__form-input {
  min-width: 60vw;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.card-collection {
  padding: 4rem 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  margin: 0 4rem;
}

.card {
  margin: 3rem 1rem;
  background-color: #ffffffef;
  box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 1);
}

.card__img {
  width: 100%;
  min-height: 50vh;
}

.card__info {
  font-size: 0.6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
